<%- include('partials/head') %>
<%- include('partials/header') %>
<body>
    <% if (user) { %>
        <h1>Hello <%= user.userName %>, </h1>
      <% } %>
    <h2>Please enter your weight for today:</h2>
    <form action="/weights/createWeight" method='POST'>
        <input type="text" placeholder="Enter your current weight" name='weightItem'>
        <input type="date" name="date" id="date" value="2022-06-01">
        <input type="submit">
    </form>
    <br>
    <h3>Your current tracked weights</h3>
    <ul class="tracked-weights">
    <% weights.forEach( el => { %>
            <li class='cell' data-id='<%=el._id%>'>
                <span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.currentWeight %></span>
                <!-- <span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.date %></span><br> -->
                <!-- <span class='del'> Delete </span> -->
            </li>
    <% }) %>    
    </ul>

    


    

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="js/main.js"></script>
</body>
<%- include("partials/footer") %>