<%- include('partials/head') %>
<body>
    <h1>Your current weights</h1>
    <ul>
    <% weights.forEach( el => { %>
            <li class='weightItem' data-id='<%=el._id%>'>
                <span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.currentWeight %></span>
                <span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.date %></span>
                <span class='del'> Delete </span>
            </li>
    <% }) %>    
    </ul>

    <form action="/weights/createWeight" method='POST'>
        <input type="text" placeholder="Enter your current weight" name='weightItem'>
        <input type="date" name="date" id="date" value="2022-06-01">
        <input type="submit">
    </form>

    

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="js/main.js"></script>
</body>
<%- include("partials/footer") %>